# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite / Vue
dist/
.vite/
*.local

# Docker
*.log
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Scripts auxiliares
script.sh
